<div class="card">
  <div class="card_info">
    <div class="card__image__demonist"></div>
    <div class="card__text">
      <span class="description">Demonist</span>
      <h2>Hero name</h2>
      <p>Deals heavy damage by sacrificing hit points</p>
      <div class="Character-skills">
        <span class="Character-skills-skill">
          Vision
          <span>Predicts ennemy next move</span>
        </span>
        <span class="Character-skills-skill">
          Boost
          <span>+1 Attack</span>
        </span>
        <span class="Character-skills-skill is-prof">
          Sacrifice
          <span>-2 hp +2 attack</span>
        </span>
        <span class="Character-skills-skill is-prof">
          Performance (CHA)
          <span>+3</span>
        </span>
      </div>
    </div>
    <div class="card__stats">
      <div class="stat stat__border__top">
        <div class="value">10</div>
        <div class="type">Hit Points</div>
      </div>
      <div class="stat stat__border stat__border__top">
        <div class="value">12</div>
        <div class="type">Attack</div>
      </div>
      <div class="stat stat__border__top">
        <div class="value">1</div>
        <div class="type">Level</div>
      </div>
    </div>
  </div>
</div>
